@media (min-width:350px) and (max-width:449px) {

    /* Sección Conocimientos */
    #conocimientos h2,
    #proyectos h2 {
        font-size: 33px;
    }

    .iconosConocim {
        width: 100%;
        max-width: 700px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    
    /* Sección Contacto */
    #datosContacto h2 {
        padding-left: 25px;
    }

    .contactame p {
        padding-inline: 25px;
    }

    form {
        padding-inline: 25px;
    }
}


@media (min-width:450px) and (max-width:549px) {

    /* Sección Hola */
    #hola {
        margin-block: 160px;
        padding-inline: 0px;
    }

    .imagen {
        padding-inline: 8%;
    }


    /* Sección Conocimientos */
    #conocimientos h2,
    #proyectos h2 {
        font-size: 35px;
    }

    .conocimImgTexto {
        width: 46%;
    }


    /* Sección Cita */
    .letrasMensaje p {
        font-size: 28px;
    }

    .comillas h3 {
        font-size: 28px;
    }


    /* Sección Contacto */
    #datosContacto {
        padding-block: 48px;
    }

    #datosContacto h2 {
        padding-left: 25px;
    }

    .contactame p {
        padding-inline: 25px;
    }

    form {
        padding-inline: 25px;
    }


    /* Footer */
    .redesColor {
        flex: 1;
    }
}


@media (min-width:550px) and (max-width:699px) {

    /* Sección Hola */
    #hola {
        margin-block: 160px;
        padding-inline: 20px;
    }


    /* Sección Conocimientos */
    #conocimientos h2,
    #proyectos h2 {
        font-size: 38px;
    }

    .iconosConocim {
        width: 100%;
        max-width: 700px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    /* Sección Cita */
    .letrasMensaje p {
        font-size: 38px;
    }

    .comillas h3 {
        font-size: 33px;
    }

    .iconoMensaje {
        left: 37%;
        width: 26%;
    }


    /* Sección Proyectos */
    .iconosProyecto {
        grid-template-columns: repeat(2, 1fr);
    }


    /* Sección Contacto */
    #datosContacto {
        padding-block: 64px;
    }

    #datosContacto h2 {
        padding-left: 25px;
    }

    .contactame p {
        padding-inline: 25px;
    }

    .iconosRedes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        width: 100%;
    }

    form {
        padding-inline: 25px;
    }

    .nombreApellido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        width: 100%;
    }
}


@media (min-width:700px) and (max-width:899px) {

    /* Sección Hola */
    #hola {
        margin-top: 224px;
        margin-bottom: 160px;
        padding-inline: 20px;
    }


    /* Sección Conocimientos */
    #conocimientos h2,
    #proyectos h2 {
        font-size: 42px;
    }

    .iconosConocim {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


    /* Sección Cita */
    .letrasMensaje p {
        font-size: 42px;
    }

    .comillas h3 {
        font-size: 36px;
    }

    .iconoMensaje {
        left: 39%;
        width: 22%;
    }


    /* Sección Proyectos */
    .iconosProyecto {
        grid-template-columns: repeat(2, 1fr);
    }



    /* Sección Contacto */
    
    .contactame, .escribime {
        max-width: 600px;
    }

    #datosContacto {
        padding-block: 80px;
        max-width: 740px;
    }

    #datosContacto h2 {
        padding-left: 25px;
    }

    .contactame p {
        padding-inline: 25px;
    }

    .iconosRedes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        width: 100%;
    }

    form {
        padding-inline: 25px;
    }

    .nombreApellido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        width: 100%;
    }


    /* Footer */
    .contenedorEnlacesFooter {
        display: block;
        height: 80px;
    }

    #enlacesFooter {
        display: flex;
        justify-content: center;
    }
}


@media (min-width:900px) {

    /* Header */
    nav {
        height: 120px;
    }

    ul {
        justify-content: flex-end;
    }

    .enlacesInicio li {
        display: flex;
        align-content: center;
    }

    .enlaceDestacado a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        background-color: rgb(131, 56, 236);
        border-radius: 50px;
        color: white;
    }

    .modal {
        display: none;
    }


    /* Seccion HOLA */
    .hola{
        display: flex;
        justify-content: center;
    }
    #hola {
        display: grid;
        grid-template-columns: 45% 55%;
        margin-top: 256px;
        margin-bottom: 160px;
        padding-inline: 9%;
        max-width:1200px;
    }

    .holaInfo {
        align-items: start;
        max-width: 600px;
    }

    h1 {
        width: 100%;
        font-size: 60px;
        text-align: start;
        margin-inline: 0px;
    }

    .comentario p {
        width: 100%;
        text-align: start;
        font-size: 18px;
        margin-inline: 0px;
        max-width: 600px;
    }

    #imgInicio{
        max-width: 600px;
        padding-inline: auto;
    }

    /* Sección Conocimientos */
    
    #conocimientos {
        padding-top: 60px;
        padding-bottom: 120px;
    }

    #conocimientos h2,
    #proyectos h2 {
        margin: 0px;
        padding-top: 80px;
        padding-bottom: 40px;
        font-size: 50px;
    }

    #conocimientos p {
        width: 100%;
        text-align: center;
        margin-inline: 0px;
    }

    .iconosConocim {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 35px;
    }

    .iconocConocim,
    .enlaceProy {
        width: 100%;
        margin:0px;
    }


    /* Sección Cita */
    .mensaje {
        height: 600px;
    }

    .letrasMensaje {
        width: 800px;
        margin-inline: auto;
    }

    .letrasMensaje p {
        font-size: 46px;
    }

    .letrasMensaje h3 {
        font-size: 40px;
    }

    .iconoMensaje {
        left: 50%;
        transform: translateX(-50%);
    }


    /* Sección Proyectos */
    #proyectos {
        margin-top: 70px;
        margin-bottom: 120px;
    }

    h2 {
        font-size: 50px;
    }

    .contenedorIconosProyecto {
        width: 90%;
    }

    .iconosProyecto {
        grid-template-columns: repeat(3, 1fr);        
    }


    /* Sección Contacto */
    .contenedorContacto {
        padding: 120px 0px 150px;
    }

    #datosContacto {
        flex-direction: row;
        padding: 80px 56px;
    }

    #datosContacto h2 {
        font-size: 2.8rem;
    }

    .contactame {
        margin-inline: 30px;
        width: 80%;
        margin-top: 30px;
        max-width: 600px;
    }

    .escribime {
        margin-inline: 30px;
        width: 80%;
        margin-top: 30px;
        max-width: 600px;
    }

    form {
        width: 100%;
    }

    .nombreApellido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


     /* Footer */
    .contenedorEnlacesFooter {
        display: block;
        height: 80px;
    }

    #enlacesFooter {
        display: flex;
        justify-content: center;
    }
}