@media (max-width:970px) and (min-width:700px){
    ul.enlacesInicio {
        display: none;
    }
    .modal{
        display: block;
    }
    #hola{
        flex-direction:column;
    }
    .iconosProyecto{
        grid-template-columns: repeat(2, 1fr);
    }
    #datosContacto{
        display:flex;
        flex-direction: column;
    }
   
    .contactame{
        margin-bottom:50px;
    }
    .redesColor{
        height: auto;
    }
    
    .iconosRedes{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
       
}
@media (max-width:699px) and (min-width:500px) {
    ul.enlacesInicio {
        display: none;
    }
    .modal{
        display: block;
    }
    #hola{
        flex-direction:column;
    }
    .iconosProyecto{
        grid-template-columns: 1fr;
    }
    #datosContacto{
        display:flex;
        flex-direction: column; 
    }
   
    .contactame{
        margin-bottom:50px;
    }
    .redesColor{
        height: auto;
    }
    
    .iconosRedes{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .escribime{
        width:90%;
        margin: auto;
    }
    footer{
        height:170px;
    }
    .contenedorEnlacesFooter{
        display:none;
    }
    .contenedorIconosFooter{
        padding-top: 20px;
        height: 100px;
    }

}
@media (max-width:499px){
    ul.enlacesInicio {
        display: none;
    }
    .modal{
        display: block;
    }
    #hola{
        flex-direction:column;
    }
    #datosContacto{
        display:flex;
        flex-direction: column;
    }
   
    .contactame{
        margin-bottom:50px;
    }
    .nombreApellido{
        display:flex;
        flex-direction:column;
    }
    .redesColor{
        height: auto;
    }
    
    .iconosRedes{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .escribime{
        width:90%;
        margin: auto;
    }
    footer{
        height:170px;
    }
    .contenedorEnlacesFooter{
        display:none;
    }
    .contenedorIconosFooter{
        padding-top: 20px;
        height: 100px;
    }
}