* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    /* padding: 10px; */
    min-width:524px;
}

main {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* z-index:2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: calc(100%+40px);
    
}
.contenedor{
    /* display: flex; */
    /* justify-content: flex-end; */
    top:0;
    left: 0px;
    width:100%;
}
.sombraBarraVertical {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 100%;
    width:40px;
    height: 100%;
    box-shadow: 0px 0px 40px 0px #000000d9;
}
 
/* nav {
    display: none;
} */

#hola,  .mensaje, .comillas, #proyectos, #datosContacto{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:90px 40px 80px;   
    width:100%;
}

h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 10px;
    color:#645cd5;
}

h2{
    font-size: 30px;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 15px;
}


#hola #comentario{
    width: 30px;
}
p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px 40px;
    font-style: inherit;
    color: rgb(100, 98, 98);
    line-height: 1.5;
    width:470px;
}

button{
    display:flex;
    align-items: center;
    width: auto;
    height: 50px;
    margin-bottom: 40px;
    padding:18px 40px;
    border-radius: 50px;
    border: none;
    background-color: #645cd5;
    color: white;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 16px;
}
button a{
    color: white;
}
.imagen{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-block:15px; 
    padding-bottom: 20px;  
    width:560px;
}
.imagen img {
    width:100%;
    height: auto;
    object-fit: contein;
    width:inherit;
    object-fit: cover;
}
 section {
    position: relative;
    left:0;
    width: we;
    margin-left: -20px;
 }
 #conocimientos, .mensaje{
    width: inherit;
 }
#conocimientos{
    position:relative;
    left:-10;
    z-index:2;
    background-color: #f4f5f9;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:15px 40px 80px; 
   
      
}
#conocimientos h2{
    font-size: 45px;
    font-weight: 900;
    padding-bottom:5px
  
}
#conocimientos p{
    width: 400px;
}
.iconosConocim{
    display:grid;
    grid-template-columns: repeat(5, 20px, 1fr, 1fr, 1fr, 20px);
    gap:20px
}
.icono{
    width:290px;
    height:290px;
    border-radius: 10px;
    background-color: white;
    border-color:1px solid aqua;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.icono img{
    width:100px;
}
.mensaje{
    background-color: #7772bc;
    /* z-index:3; */
    
    /* width: max-content; */
}

#datosContacto{
    width: 80%;
    height:auto;
    border-radius: 30px;
    background-color: rgb(243, 225, 225);
}


header{
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: inherit;
    background-color: white;
}
nav{
    height: 80px;
    box-shadow: 0px 0px 21px 0px #0000002e;
    padding-right: 50px;
}
ul {
    /* display: visible; */
    height: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;  
}

li{
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px 20px;
}
.enlaceDestacado a {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 7px 15px;
    width: 150px;
    background-color:#7772bc;
    border-radius: 50px;
    color: white;
}
a{
    text-decoration: none;
    color:rgb(26, 25, 25);
}
@media (max-widht:970px) {

    
}

