* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width:100vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    min-width: 320px;     /* ver */
    /* width: 100%; */
    background-color: pink;
}

.contenedor {
    top: 0;
    left: 0px;
    width: 100%;
}



/* Sección Header Inicio */

header {
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 100;
    width: 100%;
    /* width:inherith */
    background-color: linear-gradient(to bottom, #00ff00, #8e44ad);
}

nav {
    height: 80px;
    width: 100%;
    box-shadow: 0px 0px 21px 0px #0000002e;
    /* padding-right: 5%; */
    background: linear-gradient(to bottom, #a3a37a 0%, #FFFFFF 90%, #a3a37a 100%);
}

ul {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

li {
    display:none;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    outline:0;
    padding: 5px;
    color: rgb(26, 25, 25);
    font-weight: 600;
}

.enlaceSinDestacar a:hover {
    text-shadow: 0px 0px 1px #4c4949;
}

.enlaceDestacado a:hover {
    color: white;
    background: linear-gradient(to top, #54506b, #bc87df);
    box-shadow: 0px 1px 2px 0px #272525;
}

.enlaceDestacado a {
    padding: 10px 15px;
    box-shadow: 0px 1px 7px 0px #272525;
    background: linear-gradient(to top, #bc87df, #54506b);
    border-radius: 50px;
    color: white;
}

.holaInfo .enlaceDestacado a {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 7px 15px; */
    width: 150px;
    background-color: #8338ec;
    border-radius: 50px;
    color: white;
    margin-bottom: 40px;
}

.enlaceNoDestacado {
    width:auto;
    padding:7px 15px;
    border-radius: 50px;
    background-color: grey;
}

.enlaceDestacado:hover {
    background-color: 995cef;
}

.enlacesInicio a:focus,.redesColor a:focus, .iconosRedes a:focus, .iconosProyecto a:focus, .contenedorEnlacesFooter a:focus, .contenedorIconosFooter a:focus {
    box-shadow: 0px 0px 10px #6031a2;
    outline: 0;
    border-radius: 20px;
    }

/* Seccion menú oculto */
/*Efecto  ventana modal*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Formato de la ventana*/
  .modal{
    /* display: none; */
  }
  .enlacesHamburguesa{
    background-color: #d7d7b1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  #menuHamburg{
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    top: 18px;
    left: 5%;
    padding: 2px;
    border-radius: 20px;
    background-color: #c3afbb;
}

#menuHamburg:hover{
    box-shadow: 0px 0px 6px 1px #2d154f;
    background-color: #a3a37a;
}

.liModal {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
}

.liModal:hover a{
    text-shadow: 1px 0px #54506b;
}

.modalbox{
    width: 200px;
    position: relative;
    padding: 10px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

/*Boton de cerrar*/
.close {
    background: #af9cb0;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 1px #2d154f;
    outline: 0;
    margin:3px;
    padding: 4px;  
}
 
.close:hover {
    background-color: #e2d8e2;    
    color: #222222;
}
/* Fin menú oculto */
/* Sección header Final */

/* Seccion main */
main {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* width: 100%; */
}

section {
    /* width:100%; */
    /* margin: auto; */
}

.sombraBarraVertical {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 100%;
    width: 40px;
    height: 100%;
    box-shadow: 0px 0px 40px 0px #000000d9;
}

/* Sección Hola - Inicio */
#hola {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    margin-bottom:40px;
    padding-inline: 20px;
    justify-content: center;
    /* min-width:320px; */
    width: 100%;
    /* margin-inline:10%; */
    
    /* align-items: center; */
    /* padding: 220px 30px 80px; */
   
    /* column-gap:20px; */
}

.holaInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width:420px; */
    /* margin-inline: auto; */
}

h1 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-inline:20px;
    color: #54506b;
    text-align: center;
}

h3{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px; 
    text-align: center;
}

p {
    width: 80%;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-inline: auto;
    margin-top: 10px;
    margin-bottom:40px;
    font-style: inherit;
    color: rgb(100, 98, 98);
    line-height: 1.5;
    
}

button {
    display: flex;
    align-items: center;
    width: auto;
    height: 50px;
    margin-bottom: 40px;
    padding: 18px 40px;
    border-radius: 50px;
    border: none;
    background-color: #7671bd;
    color: white;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 16px;
}

button a {
    color: white;
}

button:hover {
    background-color: #645cd5;
    cursor: pointer;
    box-shadow: 0px 1px 5px 0px #3f3b3ba1;
}

.imagen {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
    width: auto;
    overflow:hidden;
}

.imagen img {
    width: 100%;
    height: auto;
    /* width: inherit; */
    /* object-fit: cover; */
}

/* Sección Hola - Final */

/* Sección Conocimientos - Inicio */

#conocimientos {
    background-color: #ebebdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 130px 20px;
    min-width:320px;
    width:100%;
    min-width:320px;
    /* min-width: 520px; */
    box-shadow: 1px 1px 11px 1px #8b8b3f;
   
}

h2 {
    font-size:larger;
    font-weight: 900;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-inline: 5%;
    text-align: center;
    /* margin-top: 100px; */
    
}

#conocimientos h2 {
    /* font-size: auto; */
    font-weight: 900;
   
}

#conocimientos p {
    /* width: 400px; */
}

.iconosConocim {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px 0px;
    /* max-width: 840px; */
}

.conocimImgTexto {
    /* width: 260px; */
    width:96%;
    height: 230px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(220, 210, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 11px 1px #8b8b3f;
    overflow: hidden;
}

.conocimImgTexto:hover {
    border: 0.5px solid #7d68a6;
    color: #6e5b94;
    text-shadow:1px 1px 1px black;
    border-radius: 10px;
}

.icono img {
    object-fit: cover;
    padding: 7px;
    transition: transform 0.3s ease-in-out;
}

.conocimImgTexto:hover img, .conocimImgTexto:hover h3{
    transform: scale(1.1);
}

.conocimImgTexto h3 {
    font-size:larger;     /* cuando se pueda hay que sacarlo  y colocar font-size:30px*/
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

/* Sección Conocimientos - Final */

/* Sección Cita/Mensaje - Inicio */

.mensaje {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 500px;
    /* overflow: auto; */
    padding: 30px 20px;
    background-image: url('./imagen/fondo frase 4.png');
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s;
    box-shadow: 1px 1px 11px 1px #8b8b3f;
}

.mensaje:hover {
    background-image: url('./imagen/fondo frase oscuro3.png');
}

.mensaje:hover p, .mensaje:hover h3 {
    opacity:1;
    text-shadow: 2px 2px 15px rgb(70, 68, 68);
    color:rgb(10, 10, 10);
}

.comillas {
    height: 100%;
    /* overflow: hidden; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: center; */
    /* position: relative; */
    padding: 40px 0px;
    width: 100%;
}
.iconoMensaje{
    display:flex;
    justify-content:center;
    align-items: center;
    height:300px;
    position: relative;
    /* background-color: red; */
    top:-350px;
    z-index:0;
 }
.mensaje #clara{
       opacity: 0;
       /* position: absolute; */
       /* top: 70px; */
       /* right: 100px; */
       /* opacity: 0; */
       /* display: none; */
       position: relative;
       top: -10px;
       display: flex;
       justify-content: center;
       /* z-index: -1; */
       /* right: 300px; */
}

.mensaje:hover #clara{
    opacity:1;
}

.mensaje #oscura{
    position: relative;
    opacity: 1;
    top: -150px;
    /* right: 100px; */
    
}

.mensaje:hover #oscura{
    opacity:0;
}
/* .cita{
    height: auto;
    display: flex;
    justify-content: center;
} */
.comillas p,
.proyectos p {
    color: white;
    padding: 30px 10px;    
    color: #fbf3f3;
    padding: 30px 10px;
    font-size: 20px;
   
}

.comillas p{
    text-shadow: 1px 1px grey;
    position: relative;
    /* top: 1rem; */
    font-size: 22px;
    font-weight: 700;
    /* margin-top: 30px; */
    padding: 0px 0px;
    z-index:6;
}

.comillas h3 {
    font-size: 30px;
    color: white;
    font-weight: 900;
    padding-top: 10%;
    padding-bottom: 15%;
    text-shadow: 1px 1px grey;
    position: relative;
    z-index:4;
}
/* Revisar esto para que el contenedor tome el tamaño de la cita y su autor  */
.clearfix:after {
    content: " "; /* Viejos browser que no soportan contenido vacío */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

/* Sección Cita/Mensaje - Final */

/* Sección Proyectos - Inicio */
#proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 520px; */
    width: 90%;
    /* margin: auto; */
}

#proyectos h2 {
    font-size: 45px;
    font-weight: 900;
    padding: 25px 0px 15px;
}

.contenedorIconosProyecto {
    display: flex;
    justify-content: center;
    margin:auto;
}

.iconosProyecto {
    /* width:100%;
    display: grid;
    
    margin:20px; */
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    margin-inline: auto;
}

.proyectoImgTexto {
    width: 100%;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 5px 30px;
    overflow: hidden;
}

.enlaceProy {
    border: 1px solid rgb(220, 210, 224);
    border-radius: 10px;
    margin:10px;
    box-shadow: 1px 1px 11px 1px #8b8b3f;
}

.enlaceProy:hover {
    border: 0.5px solid #7d68a6;
    color: #977dcc;
    text-shadow:1px 1px 1px black;
    border-radius: 10px;
    box-shadow: 1px 1px 11px 7px #e0d1d4;
}

.imagenProyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px 0px;
    overflow: hidden;
}

.imagenProyecto img {
    height: 70%;
    object-fit: cover;
    padding: 7px;
    transition: transform 0.3s ease-in-out;
}

.proyectoImgTexto:hover img{
    transform: scale(1.6);
}

.proyectoImgTexto h3 {
    margin-top: 20px;
    text-align: center;
    width: 240;
    font-size: 18px;
}

/* Sección Proyectos Final */


/* Sección Contacto */

.contenedorContacto{
    margin: auto;
    background-color: #ebebdb;
    padding: 200px 0px 130px 0px;
    box-shadow: 1px 1px 11px 1px #8b8b3f;
}

#datosContacto {
    display:flex;
    justify-content: space-between;
    column-gap: 40px;
    padding: 90px 60px 50px 60px;
    width: 82%;
    margin: auto;
    border: 1px solid rgb(226, 223, 223);
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 11px 1px #8b8b3f;
}

#datosContacto h2 {
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 20px;
    margin: 0px;
}

.contactame {
    display: flex;
    flex-direction: column;
    width:auto;
}

.contactame p {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 0px 20px;
    color: rgb(36, 36, 36);
    width:auto;
}

.redesColor {
    color: #8338ec;
    width: 250px;
    height:min-content;
}

.redes {
    margin: 10px 0px;
    width: 250px;
    height: min-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color:rgb(27, 25, 25)w;
}

.iconoRed {
    position: relative;
    top: 0px;
    margin: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
    color: #c076c4;
}
.icono{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.redesColor:hover .iconoRed{
    background-color: #955898;
    color:white;
    border:3px solid #a3a37a;
}

.redesColor:hover .redes{
    color:#805d82;
    font-weight: 700;
}


/* Formulario de contacto - Inicio */
.escribime{
    width:auto;
}

.nombreApellido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.ingresoDato {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    color:rgb(27, 25, 25);
    position: relative;
}

input,
textarea {
    height: 30px;
    font-family: Montserrat, sans-serif;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0px 20px;
    padding: 18px 15px;
    color: #3d3b3c;
    background-color: #d6d69678;
    border: 1px solid #f1f8fb;
    border-radius: 25px;
}

#mensaje {
    height: 170px;
    align-items: flex-start;
}

i {
    height: auto;
    position: relative;
    top: 10px;
}

.ingresoDatos {
    height: inherit;
}

.icon-valid {
    color: #88c459;
}

.icon-invalid {
    color: #f5414f;
}


/* ingreso formulario - esperando datos - borde lila */
input:focus,
textarea:focus,
button:focus {
    box-shadow: 0px 0px 7px #955898;
    outline: 0;
}

/* ingreso formulario */
input:valid:focus,
textarea:valid:focus {
    box-shadow: 0px 0px 5px #a3a37a;
}

input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
    box-shadow: 0px 0px 5px #f5414f;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
    border: 1px solid #e33946;
}

input:valid, 
textarea:valid{
    border: 2px solid #7aa37c;
}

/* iconos de valido o inválido para cada dato no mostrado */
.icon-invalid,
.icon-valid {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transform: translateY(50%);
}

input:valid ~ .icon-valid,
textarea:valid ~ .icon-valid,
input:not(:placeholder-shown):invalid ~ .icon-invalid,
textarea:not(:placeholder-shown):invalid ~ .icon-invalid {
  display: block;
}

input:valid~.icon-valid,
input:not(:placeholder-shown):invalid~.icon-invalid {
    display: block;
}

input[type="Submit"]{   
    border:1px solid #8338ec;
    box-shadow: 0px 1px 7px 0px black;
    background: linear-gradient(to top, #bc87df, #54506b);
    width:136px;
    height:50px;
    color:white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0px;
    display:flex;
    align-items: center;
    justify-content:center;
}

input[type="Submit"]:hover{
    background-color: #6c2ec2;
    cursor: pointer;
}

/* Formulario de contacto - Final */
/* Fin sección Contactame */
/* Fin main */
/* Inicio Footer */
footer{
    width: 100%;
    height: 250px;
    background-color: #c3afbb;
}

.contenedorEnlacesFooter{
   margin:auto;
   margin-inline: auto;
   height: 80px;
}

#enlacesFooter{
    width:630px;
    margin:auto;
}

#enlacesFooter a{
    font-size: 14px;
    color: white;
    margin: 30px 0px 0px;
    padding: 4px 25px;
}

#enlacesFooter a:hover{
    text-shadow: 0px 1px 4px black;
}

.contenedorIconosFooter{
    width:180px;
    margin:auto;
    height: 80px;
    display:flex;
    justify-content: center;
}

.iconoRedFooter{
    margin: 25px 10px 45px;
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    font-size: 20px;
    color: #977dcc;
    border: 1px solid #8338ec;
    box-shadow: 0px 0px 11px 2px #686853;
}

.iconoRedFooter:hover{
    background-color:#a3a37a;
    color:white;
    border:1px solid white;
    text-shadow: 1px 1px 3px #666262;
}

.iconosFooter a{
    display:flex;
    align-items: center;
    justify-content: center;
}

.copyrigth{
    width:470px;
    margin: auto;
}

footer p{
        font-size: 16px;
        font-weight: 500;
        margin: 0px 0px 10px;
        padding: 20px;
        color: white;
        line-height: 1.5;
        display: flex;
        width: fit-content;
        margin: auto;   
        text-shadow: 0px 1px 4px black;
}

.copyrigth span {
    font-size: 20px;
    margin:0px 7px 8px 7px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 1px 4px black;
}